<!DOCTYPE html>
<html>
<head>
  <title>Shiftcommerce</title>
  <%= stylesheet_link_tag    "shiftcommerce/application", media: "all" %>
  <%= javascript_include_tag "shiftcommerce/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
