<% if static_page %>
    <% shift_cache(static_page, static_page_cache_version)do %>
        <h1><%= static_page.title %></h1>
        <div class="container" role="main">
            <div class="row">
              <% body_content = static_page.meta_attribute(:static_content)%>
              <% if body_content.present? %>
                <%= body_content.html_safe %>
              <% end %>
            </div>
        </div>
    <% end %>
<% end %>
