<% if bundle %>
    <% shift_cache(bundle, bundle_cache_version)do %>
        <h1><%= bundle.title %></h1>
        <div class="container" role="main">
            <div class="row">
              <%= bundle.name %>
            </div>
        </div>
    <% end %>
<% end %>
